{
  "extends": "airbnb-base",
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "linebreak-style": ["error", "windows"],
    "semi": ["error", "never"]
  },
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true,
    "jest": true
  }
}
