.footer {
  background-color: rgb(17, 17, 17);
  color: $color-white-color;
  margin-top: 37rem;
  padding: 24rem 6rem 15rem 6rem;
  display: flex;
  position: relative;
  z-index: 15;

  @media screen and (max-width: $bp-medium) and (max-height: $bp-h-medium) {
    margin-top: 27rem;
  }

  @media screen and (max-height: $bp-h-medium) {
    margin-top: 27rem;
  }

  @media screen and (max-width: $bp-small) {
    flex-direction: column;
  }

  &__left {
    flex: 4 0 0;
    margin-top: 1.5rem;

    @media screen and (max-width: $bp-medium) and (max-height: $bp-h-medium) {
      flex: 3 0 0;
    }

    @media screen and (max-width: $bp-small) {
      flex: 1;
      margin-top: 0;
    }
    &--title {
      font-weight: normal;
    }
    &--text {
      margin: 2.5rem 0;
      line-height: 150%;
      font-size: 1.4rem;
      width: 68%;
      hyphens: auto;

      @media screen and (max-width: $bp-medium) and (max-height: $bp-h-medium) {
        width: 90%;
      }
    }
    &--social {
      &-box {
        list-style-type: none;
        display: flex;
        margin-bottom: 2rem;

        @media screen and (max-width: $bp-small) {
          justify-content: center;
          margin: 6rem;
        }
      }
      &-items {
        padding: 0.8rem;
        background-color: $color-white-color;
        border-radius: 100%;
        margin: 0 0.7rem;
        @media screen and (max-width: $bp-small) {
          margin: 0 1rem;
        }
      }

      &-items:first-child {
        margin-left: 0;
      }
      &-links {
        text-decoration: none;
        @include flexCentered;
      }

      &-links i {
        font-size: 2rem;
        width: 20px;
        height: 20px;
        color: rgb(17, 17, 17);
        text-align: center;
      }

      &-links:active,
      &-links:focus {
        text-decoration: none;
        color: $color-white-color;
      }
    }
  }

  &__right {
    margin-top: -3rem;
    flex: 6 0 0;
    display: flex;
    justify-content: flex-end;

    @media screen and (max-width: $bp-small) {
      flex: 1;
      margin-top: 0;
      justify-content: space-between;
    }

    &-box {
      list-style-type: none;
      margin: 0 1.5rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @media screen and (max-width: $bp-large) {
        margin: 0 0.5rem;
      }
    }
    &-box:last-child {
      margin-right: 0;
    }
    &-head {
      font-size: 2.2rem;
      margin: 1.5rem 0;
    }

    &-links {
      text-decoration: none;
      color: $color-white-color;
      font-size: 2rem;

      @media screen and (max-width: $bp-large) {
        font-size: 1.7rem;
      }

      @media screen and (max-width: $bp-small) {
        margin: 1.5rem 0;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    &-links:active,
    &-links:focus {
      text-decoration: none;
      color: $color-white-color;
    }
  }
}

.pic-9 {
  background: url('../../images/background-prop-pic-6.png');
  background-size: contain;
  background-repeat: no-repeat;
  top: -3rem;
  left: 80%;

  @media screen and (max-width: $bp-small) {
    top: -10rem;
    left: 65%;
  }
}
